<div style="text-align: center;">
  <img 
  src="../assets/logo.png" 
  alt="LCO logo" 
  width="50"
  height="50"
  class="logo"
  />
  <h1 class="app-title">Shreyas Todo List</h1>
</div>
<div class="container">
  Add a todo...
  <br>
  <input 
  type="text" 
  class="input-text"
  placeholder="Type a todo"
  [(ngModel)]="todoValue"
  (keyup.enter)="addItem()"
  />
  <button class="add-btn" (click)="addItem()">Add Todo</button>
  <!-- <h3>Write your Todo</h3> -->
  <div *ngIf="this.list.length===0; else elseBlock">No Todos to Display</div>
<ng-template #elseBlock>
  <div class="list">
    <ul>
      <li *ngFor="let item of list">
        <input type="checkbox" name="isDone"
        [(ngModel)]="item.isDone"
        />
        {{item.value}}
        <button class="btn"(click)="deleteItem(item.id)">Delete</button>
      </li>
    </ul>
  </div>
</ng-template>
</div>